<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="name" class="col-form-label">Name</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="name">
                </div>
            </div>
        </div>
    
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="gender" class="col-form-label">gender</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="gender">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="nationality" class="col-form-label">nationality</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="nationality">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="religion" class="col-form-label">religion</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="religion">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="f-name" class="col-form-label">father's name</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="f-name">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="f-occupation" class="col-form-label">occupation</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="f-occupation">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="f-office-address" class="col-form-label">Office address</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="f-office-address">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="f-email" class="col-form-label">email id</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="f-email">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="f-num" class="col-form-label">mobile-number</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="f-num">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="m-name" class="col-form-label">mother's name</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="m-name">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="m-occupation" class="col-form-label">occupation</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="m-occupation">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="m-address" class="col-form-label">office address</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="m-address">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="m-email" class="col-form-label">email</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="m-email">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="m-number" class="col-form-label">mobile number</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="m-number">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-auto">
                    <label for="permanent-address" class="col-form-label">permanent address</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="permanent-address">
                </div>
            </div>
        </div>
        <div class="...">
            <div class="row">
                <div class="col-auto">
                    <label for="bro-sis" class="col-form-label">How many Brothers and sisters do you have and what are they doing?</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="bro-sis">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>