{% extends "layout.html" %}

{% block title %} general {% endblock %}

{% block body %}
<main class="container ms-3">
    <div class="d-flex align-items-center justify-content-around ms-0 p-2">
        <h1 class="mb-0 sem-heading">General information</h1>
        <form action="/general-edit">
          <button type="submit" class="btn btn-dark d-md-none btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
            EDIT
          </button>
          <button type="submit" class="btn btn-dark d-none d-md-block btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
            EDIT
          </button>
        </form>
      </div>
      <hr>
    <div class="row gy-2">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="name" class="col-form-label">Name</label>
                </div>
                <div class="col">
                    <input type="text" name="name" class="form-control" id="name" readonly value="{{ general.name if general else '' }}">
                </div>
            </div>
        </div>
    
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="gender" class="col-form-label">gender</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="gender" id="gender" readonly value="{{ general.gender if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="nationality" class="col-form-label">nationality</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="nationality" id="nationality" readonly value="{{ general.nationality if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="religion" class="col-form-label">religion</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="religion" id="religion" readonly value="{{ general.religion if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="f-name" class="col-form-label">father's name</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="fname" id="f-name" readonly value="{{ general.fname if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="f-occupation" class="col-form-label">occupation</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="f-occupation" id="f-occupation" readonly value="{{ general.foccupation if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="f-office-address" class="col-form-label">Office address</label>
                </div>
                <div class="col">
                    <textarea type="text" class="form-control" name="f-office-address" id="f-office-address" rows="2" readonly>{{ general.foffice if general else '' }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="f-email" class="col-form-label">email id</label>
                </div>
                <div class="col">
                    <input type="email" class="form-control" name="f-email" id="f-email" readonly value="{{ general.femail if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="f-num" class="col-form-label">mobile-number</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="f-num" id="f-num" readonly value="{{ general.fmobile if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="m-name" class="col-form-label">mother's name</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="m-name" id="m-name" readonly value="{{ general.mname if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="m-occupation" class="col-form-label">occupation</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="m-occupation" id="m-occupation" readonly value="{{ general.moccupation if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="m-address" class="col-form-label">office address</label>
                </div>
                <div class="col">
                    <textarea type="text" class="form-control" id="m-address" name="m-address" rows="2" readonly>{{ general.moffice if general else '' }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="m-email" class="col-form-label">email</label>
                </div>
                <div class="col">
                    <input type="email" class="form-control" name="m-email" id="m-email" readonly value="{{ general.memail if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="m-number" class="col-form-label">mobile number</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="m-number" id="m-number" readonly value="{{ general.mmobile if general else '' }}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label for="permanent-address" class="col-form-label">permanent address</label>
                </div>
                <div class="col">
                    <textarea type="text" class="form-control" name="permanent-address" id="permanent-address" rows="2" readonly>{{ general.permanent_address if general else '' }}</textarea>
                </div>
            </div>
        </div>
        <div class="...">
            <div class="row">
                <div class="col-12 col-md-4">
                    <label for="bro-sis" class="col-form-label">How many Brothers and sisters do you have and what are they doing?</label>
                </div>
                <div class="col-12 col-md-8">
                    <textarea type="text" class="form-control" name="bro-sis" id="bro-sis" rows="2" readonly>{{ general.bro_sis if general else '' }}</textarea>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


