<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!-- mobile sidebar triggered by the button in the navbar -->
    <div class="offcanvas offcanvas-start w-50" tabindex="-1" id="mobileSidebar" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-between">
            <ul class="list-group list-group-flush pt-5">
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('general') }}">General info</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=1) }}">Semester 1</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=2) }}">Semester 2</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=3) }}">Semester 3</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=4) }}">Semester 4</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=5) }}">Semester 5</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=6) }}">Semester 6</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=7) }}">Semester 7</a></li>
                <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=8) }}">Semester 8</a></li>
    
              </ul>
              <div class="user-dropdown">
                  <hr>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle link-dark text-decoration-none d-flex align-items-center justify-content-start ms-3" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                        <span class="fs-5 ms-3">Username</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">change password</a></li>
                      <li><a class="dropdown-item" href="#">log out</a></li>
                    </ul>
                  </div>
              </div>
        </div>
        </div>
        <!-- mobile navbar -->
      <nav class="navbar navbar-dark bg-dark d-md-none">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>

      <div class="d-flex">
        <!-- desktop navbar -->
        <nav class="min-vh-100 bg-light d-none d-md-flex flex-column" style="width: 250px;">
          <div class="user-dropdown mb-5 mt-3">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle link-dark text-decoration-none d-flex align-items-center justify-content-start ms-3" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                  <span class="fs-5 ms-3">Account</span>
              </a>
              <ul class="dropdown-menu">
                <form action="{{ url_for('logout') }}" method="post">
                  <li><input type="submit" class="dropdown-item" value="logout"></li>
                </form>
                <li><a class="dropdown-item" href="#">change password</a></li>
              </ul>
            </div>
            <hr class="mt-4">
          </div>
          <ul class="list-group list-group-flush mt-5">
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('general') }}">General info</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=1) }}">Semester 1</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=2) }}">Semester 2</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=3) }}">Semester 3</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=4) }}">Semester 4</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=5) }}">Semester 5</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=6) }}">Semester 6</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=7) }}">Semester 7</a></li>
              <li class="list-group-item list-group-item-action"><a class="nav-link" href="{{ url_for('semester', semester_number=8) }}">Semester 8</a></li>
            </ul>
      </nav>
      {% block body %}


      {% endblock %}

      </div>
</body>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>