{% extends "layout.html" %}

{% block title %} semester {% endblock %}


{% block body %}
<main class="d-flex flex-column ms-md-5 table-responsive g-3" style="max-width: 1200px;">
  <h1 class="align-self-center">semester {{ semester_number }}</h1>
  <div class="table-responsive ms-1 mt-3">
    <!-- table for attendance -->
    <div class="table-responsive">
      <table class="table table-bordered table-sm mb-0">
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th rowspan="2">code</th>
                <th rowspan="2">subjects</th>
                <th colspan="3">1st month</th>
                <th colspan="3">2nd month</th>
                <th colspan="3">3rd month</th>
            </tr>
            <tr>
                <td>T</td>
                <td>A</td>
                <td>%</td>
                <td>T</td>
                <td>A</td>
                <td>%</td>
                <td>T</td>
                <td>A</td>
                <td>%</td>
            </tr>
        </thead>
        <tbody id="attendanceTable">
          {% for record in attendance_records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.code }}</td>
                <td>{{ record.subject }}</td>
                <td>{{ record.t1 }}</td>
                <td>{{ record.a1 }}</td>
                <td>TODO</td>
                <td>{{ record.t2 }}</td>
                <td>{{ record.t2 }}</td>
                <td>TODO</td>
                <td>{{ record.t3 }}</td>
                <td>{{ record.a3 }}</td>
                <td>TODO</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    </div> 
  </div>

  <div class="table-responsive ms-1 mt-3">
    <!-- table for iat -->
    <div class="table-responsive">
      <table class="table table-bordered table-sm mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>code</th>
                <th>subjects</th>
                <th>Max</th>
                <th>iat-1</th>
                <th>iat-2</th>
                <th>iat-3</th>
                <th>avg</th>
            </tr>
        </thead>
        <tbody id="iatTable">
          {% for record in iat_records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.code }}</td>
                <td>{{ record.subject }}</td>
                <td>{{ record.max }}</td>
                <td>{{ record.iat1 }}</td>
                <td>{{ record.iat2 }}</td>
                <td>{{ record.iat3 }}</td>
                <td>TODO</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
  </div>

  <div class="table-responsive ms-1 mt-3">
    <!-- table for events -->
    <div class="table-responsive">
      <table class="table table-bordered table-sm mb-0">
        <thead>
          <tr>
            <th>#</th>
            <th>club name</th>
            <th>event title</th>
            <th>event date</th>
          </tr>
        </thead>
        <tbody id="eventsTable">
          {% for record in event_records %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ record.club_name }}</td>
              <td>{{ record.event_title }}</td>
              <td>{{ record.event_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-responsive ms-1 mt-3">
    <!-- table for MOOC -->
    <div class="table-responsive">
      <table class="table table-bordered table-sm mb-0">
        <thead>
          <tr>
            <th>#</th>
            <th>Under</th>
            <th>MOOC title</th>
            <th>start date</th>
            <th>completed date</th>
            <th>score</th>
          </tr>
        </thead>
        <tbody id="moocTable">
          {% for record in mooc_records %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ record.under }}</td>
              <td>{{ record.title }}</td>
              <td>{{ record.start_date }}</td>
              <td>{{ record.completed_date }}</td>
              <td>{{ record.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-responsive ms-1 mt-3">
    <!-- table for mini project -->
    <div class="table-responsive">
      <table class="table table-bordered table-sm mb-0">
        <thead>
          <tr>
            <th>#</th>
            <th>Mini project title</th>
            <th>Man hours</th>
            <th>start date</th>
            <th>completed date</th>
          </tr>
        </thead>
        <tbody id="projectTable">
          {% for record in project_records %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ record.title }}</td>
              <td>{{ record.man_hours }}</td>
              <td>{{ record.start_date }}</td>
              <td>{{ record.completed_date }}</td>  
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <div class="table-responsive ms-1 mt-3">
    <!-- table for counselling records -->
    <div class="table-responsive">
      <table class="table table-bordered table-sm mb-0">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>counselling records</th>
          </tr>
        </thead>
        <tbody id="counsellingTable">
          {% for record in counselling_records %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ record.date }}</td>
              <td>{{ record.record }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <form action="/semester{{ semester_number }}-edit">
      <input class="btn btn-dark mt-3 d-md-none btn" type="submit" value="edit">
      <input class="btn btn-dark mt-3 d-none d-md-block btn-lg" type="submit" value="edit">
    </form>
  </div>
</main>

{% endblock %}



